*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/Logs
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
*.xlsx
debug
_UpgradeReport_Files/UpgradeReport.css
UpgradeLog.XML
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
*.o
*.a
*.so
*.test
*.prof
*.exe
*.zip
*.log
~*
defaults.ini
*.txt
*.rsa
key/thecollectiveserver.rsa.pub
